body {
  height: 100%;
}
li {
  list-style: none;
}
.menu {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.contenedor {
  display: flex;
  gap: 20%;
  margin: 5%;
  justify-content: center;
  align-items: center;
  /* Para ajustar la altura de los div "bloque_verde" y "bloque_azul" primero tengo que ajustar la altura de 
  contenedor, que es el padre. La altura que modifique en % de los bloques será respectiva a la del contenedor principal */
  height: 350px;
}
.contenedor p {
  color: white;
}
.encabezado {
  text-align: center;
}
.bloque_verde {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: green;
}
.bloque_azul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: blue;
}
.derechos {
  text-align: center;
}
