.contenedor {
  background-color: hsl(180, 50%, 27%);
  margin: auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /*alenea en horizontal*/
  align-content: center; /*alinea en vertical*/
}
.item {
  background-color: pink;
  margin: 2%;
  width: 180px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:first-child {
  display: none;
}
.item:last-child {
  display: none;
}
