@font-face {
  font-family: OpenSans;
  src: url(../Fuentes/OpenSans-Regular.ttf);
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: OpenSans;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}
/*-----------------------Parte izquierda-----------------------*/
.izquierda {
  width: 40%;
  height: 100%;
  background-color: rgb(58, 217, 133);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-right: 10px;
  padding-bottom: 1em;
  padding-left: 3em;
}
.textoGrande,
.textoPequeño {
  width: 250px;
}
.ipsumAmarillo {
  color: yellow;
}
/*-----------------------Parte derecha-----------------------*/
input[type="text"],
input[type="password"] {
  border: none;
}
.contenido {
  width: 350px;
  margin-top: 80px;
}
.derecha {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-top: 60px;
  margin-right: 0;
  align-items: center;
}
.inputCorreo,
.inputContraseña {
  border-bottom: 1px solid black;
  width: 350px;
  height: 32px;
}
.inputContraseña:focus-within::after {
  outline: none;
  background-image: url(../imagenes/ojo-cerrado.webp);
}
.inputContraseña::after {
  content: "";
  align-items: center;
  background-image: url("../Imagenes/ojo-abierto.webp");
  height: 30px;
  width: 30px;
  position: absolute;
  background-size: cover;
}
#contraseña {
  width: 320px;
  outline: none;
}
#correoTel {
  width: 320px;
  outline: none;
}
a {
  color: black;
}
.enlaces {
  font-size: 70%;
}
.cuentaPago {
  background-color: gray;
  border-radius: 100px;
  width: 75%;
}
#correoTel {
  width: 100%;
}
#enviar {
  border: 1px solid;
  border-color: white;
  color: white;
  height: 55px;
  border-radius: 30px;
  background-color: #4aa275;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}
.boton {
  border: 1px solid;
  border-color: #ebeaea;
  border-radius: 30px;
  background-color: #ebeaea;
  text-align: center;
  margin-top: 10px;
  height: 55px;
}
