.BarraSuperior {
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 13px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body {
  background-color: rgb(226, 226, 226);
}
.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar-izquierda,
.navbar-derecha {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.logoxiaomi {
  width: 20px;
  height: auto;
}

.slider {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
}
.parteInferior1 {
  display: flex;
  background-color: #181818;
  color: grey;
}
.iconos {
  display: flex;
}
.titulosFooter {
  color: white;
}
.parteInferior2 {
  display: flex;
  background-color: #181818;
  color: white;
  align-items: center;
}
hr {
  margin: 0;
}
.logos {
  width: 20px;
  height: 20px;
}
