.BarraSuperior {
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 13px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30%;
}
.Xicono {
  padding-right: 25px;
}
body {
  background-color: rgb(226, 226, 226);
}
.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar-izquierda,
.navbar-derecha {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.logoxiaomi {
  width: 20px;
  height: auto;
}
.slider {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 5px;
}
.parteInferior1 {
  display: flex;
  background-color: #181818;
  color: grey;
}
.iconos {
  display: flex;
}
.titulosFooter {
  color: white;
}
.parteInferior2 {
  display: flex;
  background-color: #181818;
  color: white;
  align-items: center;
}
hr {
  margin: 0;
}

.logos {
  width: 20px;
  height: 20px;
}

.comprar {
  color: white;
  background-color: black;
  border-radius: 12px;
  border: none;
  width: 120px;
  height: 35px;
}
.boton_descubreMas {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lineas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.linea1 button,
.linea2 button {
  width: 100px;
  border: none;
  height: 5px;
  border-color: lightgray;
  background-color: lightgray;
  border-radius: 10px;
}
.linea2 button {
  background: linear-gradient(to left, #ffffff 70%, #ffa500 30%);
}
