.imagenFondo {
  height: 833px;
  display: flex;
  margin: 50%;
  justify-content: center;
}
.fondoMovil {
  display: none; /*Oculta la versión de móvil cuando tiene medidas de escritorio*/
}
.FondoProyectoMovil {
  display: none; /*Oculta la versión de móvil cuando tiene medidas de escritorio*/
}

/*Cuando la pantalla tenga ancho <=600px oculta las imágenes de escritorio y muestra las de móvil */
@media screen and (max-width: 600px) {
  .fondoEscritorio {
    display: none;
  }
  .fondoMovil {
    display: block;
  }
  .FondoProyectoEscrtorio {
    display: none;
  }
  .FondoProyectoMovil {
    display: block;
  }
}
