html {
  height: 100%;
  font-size: large;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #2d2d2d;
  height: 100%;
}
#barra-navegacion {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 25px;
  padding-right: 25px;
  border-bottom: 1px solid black;
}
#barra-navegacion a {
  color: #679cd5;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu-lateral {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40px;
  height: 100%;
  justify-content: end;
  margin-left: 10px;
  padding-bottom: 10px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
#enlaces {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.menu-lateral img {
  height: 40px;
  width: auto;
}
footer img {
  height: 40px;
  width: auto;
}
#fotoPerfil {
  width: 150px;
  position: relative;
  left: 200px;
  top: 50px;
}
#central {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color:white;
}
#central img{
  margin-right: 20px;
}
.textos {
  display: flex;
  flex-direction: row;
}
.textos img {
  height: 60px;
  width: auto;
}

@media screen and (max-width: 600px) {
}
